profiles/dts-blueprint/resources/odd/barth.odd

<TEI xmlns:pb="http://teipublisher.com/1.0" xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>barthTEI Processing Model Customization</title>
            </titleStmt>
            <publicationStmt>
                <publisher>e-editiones</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="https://e-editiones.org">e-editiones.org</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.org">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl/>
        </encodingDesc>
        <revisionDesc>
            <change when="2025-09-24T11:26:13.115Z">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" source="teipublisher.odd"> <elementSpec ident="ref" mode="change">
                    <model predicate="parent::cit and @type='can' and @subtype='bible'" behaviour="heading">
            <desc>link to bible passage</desc>
            <param name="target" value="@target"/>
            <param name="level" value="2"/>
            <pb:template xmlns="" xml:space="preserve"><pb-popover remote="http://localhost:8080/exist/apps/barth/api/dts/document?resource=bible%2Fluther-bibel.xml&amp;ref=Lb_[[target]]&amp;mediaType=text/html">
  <span slot="default">[[content]]</span>
</pb-popover></pb:template>
            <outputRendition xml:space="preserve">
            color: var(--jinks-color-focus);
            </outputRendition>
        </model>
                    <model predicate="@type='can' and @subtype='bible'" behaviour="inline">
            <desc>link to bible passage</desc>
            <param name="target" value="@target"/>
            <pb:template xmlns="" xml:space="preserve"><pb-popover remote="http://localhost:8080/exist/apps/barth/api/dts/document?resource=bible%2Fluther-bibel.xml&amp;ref=Lb_[[target]]&amp;mediaType=text/html">
  <span slot="default">[[content]]</span>
</pb-popover></pb:template>
            <outputRendition xml:space="preserve">
            color: var(--jinks-color-focus);
            </outputRendition>
        </model>
                    <model predicate="@subtype='placeholder'" behaviour="pass-through">
            <desc>placeholder for unavailable next/prev links</desc>
            <param name="type" value="if (@type='prev') then 'previous' else @type"/>
            <param name="svg" value="$parameters?context-path || '/resources/css/correspondence-icons.svg'"/>
            <pb:template xmlns="" xml:space="preserve"><li class="unavailable">
                                            <svg class="icon">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="[[svg]]#[[type]]"/>
                                            </svg>
                            </li></pb:template>
        </model>
                    <model predicate="parent::correspContext and @type" behaviour="pass-through">
            <desc>refs inside the correspContext are interpreted as links for next/previous elements in the corpus; 
                            type attribute is used to determine what navigation structure it is: known values are 
                            -  in the entire corpus (type='next' or type='previous') ('prev' is mapped to 'previous')
                            - next in the correspondence subcorpus between two correspondents (type='next-in-correspondence' or type='prev-in-correspondence')
                            for which relevant svg icons are provided
                        </desc>
            <param name="type" value="if (@type='prev') then 'previous' else @type"/>
            <param name="target" value="@target"/>
            <param name="svg" value="$parameters?context-path || '/resources/css/correspondence-icons.svg'"/>
            <pb:template xmlns="" xml:space="preserve"><li><pb-popover>
                            <a href="[[target]]" emit="transcription" subscribe="transcription" slot="default">
                                <svg class="icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="[[svg]]#[[type]]"/>
                                </svg>
                            </a>
                            <template slot="alternate">[[type]]:  [[ content ]]</template>
            </pb-popover></li></pb:template>
        </model>
                    <model predicate="@target" behaviour="link">
            <param name="uri" value="@target"/>
        </model>
                    <model behaviour="inline"/>
                </elementSpec>
                <elementSpec ident="epigraph" mode="change">
                    <model behaviour="block">
            <outputRendition xml:space="preserve">
            margin: 1rem 2rem 2rem 2rem;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="cit" mode="change">
                    <model predicate="parent::epigraph" behaviour="block">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                    <model predicate="child::quote and child::bibl" behaviour="cit">
            <desc>Insert citation </desc>
        </model>
                </elementSpec>
                <elementSpec ident="pb" mode="change">
                    <model behaviour="omit"/>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>