profiles/landing-page/resources/odd/landing.odd

<?teipublisher output="web"?>
<TEI xmlns:pb="http://teipublisher.com/1.0" xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Landing Page</title>
            </titleStmt>
            <publicationStmt>
                <publisher>e-editiones</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="https://e-editiones.org">e-editiones.org</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.org">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl/>
        </encodingDesc>
        <revisionDesc>
            <change when="2025-10-30T20:14:21.593+01:00">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" source="teipublisher.odd">
                <elementSpec ident="head" mode="change">
                    <model predicate="$parameters?display='browse' or $parameters?mode='toc'" behaviour="inline">
            <desc>For browse view and table of contents, just output inline text</desc>
            <param name="content" value="replace(string-join(.//text()[not(parent::ref)]), '^(.+?)[^\w]*$', '$1')"/>
        </model>
                    <model predicate="parent::figure" behaviour="block" cssClass="figure-head"/>
                    <model predicate="parent::table" behaviour="block" cssClass="table-head"/>
                    <model predicate="parent::lg" behaviour="block" cssClass="lg-head"/>
                    <model predicate="parent::list" behaviour="block" cssClass="list-head"/>
                    <model predicate="parent::div[@type=('about', 'section')]" behaviour="heading">
            <param name="level" value="2"/>
        </model>
                    <model predicate="parent::div[@type='hero']" behaviour="heading">
            <param name="level" value="1"/>
        </model>
                    <model predicate="ancestor::div[@type='section']" behaviour="heading">
            <param name="level" value="3"/>
        </model>
                    <model predicate="parent::div" behaviour="heading">
            <param name="level" value="count(ancestor::div)"/>
        </model>
                    <model behaviour="block"/>
                </elementSpec>
                <elementSpec ident="hi" mode="change">
                    <model predicate="@rend='strong'" behaviour="pass-through">
            <pb:template xmlns="" xml:space="preserve"><strong>[[content]]</strong></pb:template>
        </model>
                    <model behaviour="inline" useSourceRendition="true"/>
                </elementSpec>
                <elementSpec ident="div" mode="change">
                    <model predicate="$parameters?mode = 'register'" behaviour="pass-through">
            <desc>Output register data if register profile is enabled</desc>
            <param name="people" value="let $refs := (root(.)//persName[@key or @ref], root(.)//rs[@type='person'][@key or @ref]) let $keys := for $i in ($refs/@key, $refs/@ref) return $i ! tokenize(., ' ')  for $key in distinct-values($keys) return collection($global:register-root)/id($key)[self::person]"/>
            <param name="places" value="let $refs := (root(.)//placeName[@key or @ref], root(.)//rs[@type='place'][@key or @ref]) let $keys := for $i in ($refs/@key, $refs/@ref) return $i ! tokenize(., ' ')  for $key in distinct-values($keys) return collection($global:register-root)/id($key)[self::place]"/>
            <pb:template xmlns="" xml:space="preserve"><div class="register">
<h3><pb-i18n key="register-details.people">ppl</pb-i18n></h3>
<ul>
[[people]]
</ul>

<h3><pb-i18n key="register-details.places">pl</pb-i18n></h3>
<ul>
[[places]]
</ul>
</div></pb:template>
        </model>
                    <model predicate="ancestor::div[@type='section']" behaviour="pass-through">
            <pb:template xmlns="" xml:space="preserve"><article class="teaser">[[content]]</article></pb:template>
        </model>
                    <model predicate="@type='section'" behaviour="pass-through">
            <param name="header" value="* except div"/>
            <param name="label" value="@n"/>
            <param name="content" value="div"/>
            <pb:template xmlns="" xml:space="preserve"><div class="center-l">
    <span class="label">[[label]]</span>
    <div class="row">
      <header>
        [[header]]
      </header>
      <div class="two-thirds">
      [[content]]
      </div>
    </div>
</div></pb:template>
        </model>
                    <model predicate="@type='team'" behaviour="pass-through">
            <param name="header" value="* except (listOrg|listPerson)"/>
            <param name="content" value="(listOrg|listPerson)/*"/>
            <param name="label" value="@n"/>
            <pb:template xmlns="" xml:space="preserve"><div class="center-l">
  <span class="label">[[label]]</span>
  <header class="row"><!-- horizontal alignment by default change by adding class="header-left" -->
  [[header]]
  </header>
  <div class="team-members">[[content]]</div>
</div></pb:template>
        </model>
                    <model predicate="@type='about'" behaviour="pass-through">
            <param name="label" value="@n"/>
            <param name="header" value="(head, p[1])"/>
            <param name="content" value="p[position() &gt; 1]"/>
            <pb:template xmlns="" xml:space="preserve"><div class="center-l">
    <span class="label">[[label]]</span>
    <header class="row">
      [[header]]
    </header>
    <div class="long-desc">
    [[content]]
    </div>
</div></pb:template>
        </model>
                    <model predicate="@type='hero'" behaviour="pass-through">
            <param name="heading" value="head/node()"/>
            <param name="content" value="p/node()"/>
            <pb:template xmlns="" xml:space="preserve"><div class="center-l row">
  <h1>[[heading]]</h1>
  <p>[[content]]<br/>
  <a class="explore-link" href="#"><pb-i18n key="hero.explore"/></a></p>
</div></pb:template>
        </model>
                    <model predicate="parent::body or parent::front or parent::back" behaviour="section"/>
                    <model behaviour="block"/>
                </elementSpec>
            <elementSpec ident="org" mode="add">
                    <model behaviour="pass-through">
            <desc>An organisation inside the teams section</desc>
            <param name="logo" value="ptr[@type='logo']/@target"/>
            <param name="label" value="@n"/>
            <param name="name" value="orgName"/>
            <param name="role" value="roleName"/>
            <param name="content" value="note/node()"/>
            <param name="email" value="ptr[@type='email']/@target"/>
            <pb:template xmlns="" xml:space="preserve"><div class="member-card">
  <div class="member-card--top">
    <div class="label">[[label]]</div>
    <img src="[[logo]]" alt="[[name]]" class="member-logo"/>
  </div>
  <div class="member-card--middle">
      <header>
          <h3 class="member-name">[[name]]</h3>
          <p class="title">[[role]]</p>
      </header>
      <div class="contact-links">
          <a class="email" href="[[email]]"/>
      </div>
  </div>
  <div class="member-card--description">
    [[content]]
  </div>
</div></pb:template>
        </model>
                </elementSpec>
                <elementSpec ident="person" mode="change">
                    <model behaviour="pass-through">
            <param name="label" value="@n"/>
            <param name="name" value="persName"/>
            <param name="role" value="occupation"/>
            <param name="email" value="ptr[@type='email']/@target"/>
            <param name="content" value="note/node()"/>
            <param name="avatar" value="ptr[@type='avatar']/@target"/>
            <pb:template xmlns="" xml:space="preserve"><div class="member-card">
  <div class="member-card--top">
    <div class="label">[[label]]</div>
    <img src="[[avatar]]" alt="[[name]]" class="avatar"/>
  </div>
  <div class="member-card--middle">
      <header>
          <h3 class="member-name">[[name]]</h3>
          <p class="title">[[role]]</p>
      </header>
      <div class="contact-links">
          <a class="email" href="[[email]]"/>
      </div>
  </div>
  <div class="member-card--description">
    [[content]]
  </div>
</div></pb:template>
        </model>
                    <model predicate="parent::listPerson and $parameters?mode='register-overview'" behaviour="pass-through">
            <desc>Register entry overview in list</desc>
            <param name="id" value="@xml:id"/>
            <param name="label" value="head((persName[@type='sort'], persName[@type='main'], persName[1]))"/>
            <param name="description" value="note[@type='bio']"/>
            <pb:template xmlns="" xml:space="preserve"><header>
    <a href="people/[[ id ]]">[[ label ]]</a>
</header>
<p>[[ description ]]</p></pb:template>
        </model>
                    <model predicate="parent::listPerson and $parameters?mode='register'" behaviour="listItem">
            <desc>Register sidebar</desc>
            <param name="content" value="persName[@type=('main', 'full')]"/>
        </model>
                    <modelSequence predicate="parent::listPerson">
            <desc>Register details view</desc>
            <model behaviour="pass-through">
                <desc>Heading with full name and dates</desc>
                <param name="content" value="(persName[@type!='variant'])[1]"/>
                <param name="uri" value="'people/'||@xml:id"/>
                <pb:template xmlns="" xml:space="preserve"><h2><a href="[[uri]]" target="_blank">[[content]]</a></h2></pb:template>
            </model>
            <model predicate="$parameters?mode='register-details'" behaviour="pass-through">
                <desc>Dates</desc>
                <param name="birth" value="birth"/>
                <param name="death" value="death"/>
                <pb:template xmlns="" xml:space="preserve"><div>
                    <h4><span class="dates">[[birth]]</span></h4>
                    <h4><span class="dates">[[death]]</span></h4>
                </div></pb:template>
            </model>
            <model predicate="$parameters?mode='register-details'" behaviour="block">
                <desc>Variant names</desc>
                <param name="content" value="persName[@type='variant']"/>
            </model>
            <model predicate="$parameters?mode='register-details'" behaviour="block">
                <desc>Images</desc>
                <param name="content" value="figure"/>
            </model>
            <model behaviour="block">
                <desc>Short bio note</desc>
                <param name="content" value="note[@type='bio']"/>
            </model>
            <model predicate="$parameters?mode='register-details'" behaviour="block">
                <desc>Additional notes</desc>
                <param name="content" value="note[@type!='bio']"/>
            </model>
            <model behaviour="list">
                <desc>Links to wikidata, wikipedia etc.</desc>
                <param name="content" value="ptr"/>
            </model>
            <model predicate="$parameters?mode='register-details'" behaviour="block">
                <desc>Occupation</desc>
                <param name="content" value="occupation"/>
            </model>
            <model predicate="$parameters?mode='register-details'" behaviour="block">
                <desc>List of documents (from data-default collection), where references occur;
                    (shown in register details view only); trying to match by key or ref attributes</desc>
                <param name="uri" value="$parameters?context-path || '/browse.html?facet-person-id=' || @xml:id"/>
                <param name="content" value="let $id := @xml:id return count(collection($global:data-default)//persName[@key = $id or @ref = $id]/ancestor::TEI)"/>
                <pb:template xmlns="" xml:space="preserve">
                    <a href="[[uri]]">
                        <pb-i18n key="register-details.document-list"/> ( [[content]] ) <iron-icon icon="icons:launch"/>
                    </a></pb:template>
            </model>
        </modelSequence>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>