profiles/landing-page/resources/odd/landing.odd

<?teipublisher output="web"?>
<TEI xmlns:pb="http://teipublisher.com/1.0" xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Landing Page</title>
            </titleStmt>
            <publicationStmt>
                <publisher>e-editiones</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="https://e-editiones.org">e-editiones.org</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.org">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl/>
        </encodingDesc>
        <revisionDesc>
            <change when="2025-10-30T20:14:21.593+01:00">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" source="teipublisher.odd">
                <elementSpec ident="head" mode="change">
                    <model predicate="$parameters?display='browse' or $parameters?mode='toc'" behaviour="inline">
            <desc>For browse view and table of contents, just output inline text</desc>
            <param name="content" value="replace(string-join(.//text()[not(parent::ref)]), '^(.+?)[^\w]*$', '$1')"/>
        </model>
                    <model predicate="parent::figure" behaviour="block" cssClass="figure-head"/>
                    <model predicate="parent::table" behaviour="block" cssClass="table-head"/>
                    <model predicate="parent::lg" behaviour="block" cssClass="lg-head"/>
                    <model predicate="parent::list" behaviour="block" cssClass="list-head"/>
                    <model predicate="parent::div[@type=('about', 'section')]" behaviour="heading">
            <param name="level" value="2"/>
        </model>
                    <model predicate="parent::div[@type='hero']" behaviour="heading">
            <param name="level" value="1"/>
        </model>
                    <model predicate="ancestor::div[@type='section']" behaviour="heading">
            <param name="level" value="3"/>
        </model>
                    <model predicate="parent::div" behaviour="heading">
            <param name="level" value="count(ancestor::div)"/>
        </model>
                    <model behaviour="block"/>
                </elementSpec>
                <elementSpec ident="hi" mode="change">
                    <model predicate="@rend='strong'" behaviour="pass-through">
            <pb:template xmlns="" xml:space="preserve"><strong>[[content]]</strong></pb:template>
        </model>
                    <model behaviour="inline" useSourceRendition="true"/>
                </elementSpec>
                <elementSpec ident="div" mode="change">
                    <model predicate="$parameters?mode = 'register'" behaviour="pass-through">
            <desc>Output register data if register profile is enabled</desc>
            <param name="people" value="let $refs := (root(.)//persName[@key or @ref], root(.)//rs[@type='person'][@key or @ref]) let $keys := for $i in ($refs/@key, $refs/@ref) return $i ! tokenize(., ' ')  for $key in distinct-values($keys) return collection($global:register-root)/id($key)[self::person]"/>
            <param name="places" value="let $refs := (root(.)//placeName[@key or @ref], root(.)//rs[@type='place'][@key or @ref]) let $keys := for $i in ($refs/@key, $refs/@ref) return $i ! tokenize(., ' ')  for $key in distinct-values($keys) return collection($global:register-root)/id($key)[self::place]"/>
            <pb:template xmlns="" xml:space="preserve"><div class="register">
<h3><pb-i18n key="register-details.people">ppl</pb-i18n></h3>
<ul>
[[people]]
</ul>

<h3><pb-i18n key="register-details.places">pl</pb-i18n></h3>
<ul>
[[places]]
</ul>
</div></pb:template>
        </model>
                    <model predicate="ancestor::div[@type='section']" behaviour="pass-through">
            <pb:template xmlns="" xml:space="preserve"><article class="teaser">[[content]]</article></pb:template>
        </model>
                    <model predicate="@type='section'" behaviour="pass-through">
            <param name="header" value="* except div"/>
            <param name="label" value="@n"/>
            <param name="content" value="div"/>
            <pb:template xmlns="" xml:space="preserve"><div class="center-l">
    <span class="label">[[label]]</span>
    <div class="row">
      <header>
        [[header]]
      </header>
      <div class="two-thirds">
      [[content]]
      </div>
    </div>
</div></pb:template>
        </model>
                    <model predicate="@type='about'" behaviour="inline">
            <param name="label" value="@n"/>
            <param name="header" value="(head, p[1])"/>
            <param name="content" value="p[position() &gt; 1]"/>
            <pb:template xmlns="" xml:space="preserve"><div class="center-l">
    <span class="label">[[label]]</span>
    <header class="row">
      [[header]]
    </header>
    <div class="long-desc">
    [[content]]
    </div>
</div></pb:template>
        </model>
                    <model predicate="@type='hero'" behaviour="pass-through">
            <param name="heading" value="head/node()"/>
            <param name="content" value="p/node()"/>
            <pb:template xmlns="" xml:space="preserve"><div class="center-l row">
  <h1>[[heading]]</h1>
  <p>[[content]]<br/>
  <a class="explore-link" href="#"><pb-i18n key="hero.explore"/></a></p>
</div></pb:template>
        </model>
                    <model predicate="parent::body or parent::front or parent::back" behaviour="section"/>
                    <model behaviour="block"/>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>