profiles/landing-page/resources/odd/landing.odd

<?teipublisher output="web"?>
<TEI xmlns:pb="http://teipublisher.com/1.0" xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Landing Page</title>
            </titleStmt>
            <publicationStmt>
                <publisher>e-editiones</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="https://e-editiones.org">e-editiones.org</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.org">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl/>
        </encodingDesc>
        <revisionDesc>
            <change when="2025-10-30T20:14:21.593+01:00">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" source="teipublisher.odd">
                <elementSpec ident="head" mode="change">
                    <model predicate="parent::figure" behaviour="block" cssClass="figure-head"/>
                    <model predicate="parent::table" behaviour="block" cssClass="table-head"/>
                    <model predicate="parent::lg" behaviour="block" cssClass="lg-head"/>
                    <model predicate="parent::list" behaviour="block" cssClass="list-head"/>
                    <model predicate="parent::div[@type=('about', 'section', 'highlights')]" behaviour="heading">
            <param name="level" value="2"/>
        </model>
                    <model predicate="parent::div[@type='hero']" behaviour="heading">
            <param name="level" value="1"/>
        </model>
                    <model predicate="ancestor::div[@type='section']" behaviour="heading">
            <param name="level" value="3"/>
        </model>
                    <model predicate="parent::div" behaviour="heading">
            <param name="level" value="count(ancestor::div)"/>
        </model>
                    <model behaviour="block"/>
                </elementSpec>
                <elementSpec ident="hi" mode="change">
                    <model predicate="@rend='strong'" behaviour="pass-through">
            <pb:template xmlns="" xml:space="preserve"><strong>[[content]]</strong></pb:template>
        </model>
                    <model behaviour="inline" useSourceRendition="true"/>
                </elementSpec>
                <elementSpec ident="div" mode="change">
                    <model predicate="@type='partners'" behaviour="pass-through">
            <pb:template xmlns="" xml:space="preserve"><div class="center-l">
  <span class="label"><pb-i18n key="menu.partners"/></span>
  <header class="row">
    [[header]]
  </header>
  [[content]]
</div></pb:template>
        </model>
                    <model predicate="@type='highlights'" behaviour="pass-through">
            <desc>Outputs the project highlights in a grid</desc>
            <param name="title" value="head"/>
            <param name="content" value="list/item"/>
            <pb:template xmlns="" xml:space="preserve"><section id="highlights" class="section-highlight">
  <header class="center-l row">
  [[title]]
  </header>
  <div class="highlights center-l">[[content]]</div>
</section></pb:template>
        </model>
                    <model predicate="ancestor::div[@type='section']" behaviour="pass-through">
            <pb:template xmlns="" xml:space="preserve"><article class="teaser">[[content]]</article></pb:template>
        </model>
                    <model predicate="@type='section'" behaviour="pass-through">
            <param name="header" value="* except div"/>
            <param name="label" value="@n"/>
            <param name="content" value="div"/>
            <pb:template xmlns="" xml:space="preserve"><div class="center-l">
    <span class="label">[[label]]</span>
    <div class="row">
      <header>
        [[header]]
      </header>
      <div class="two-thirds">
      [[content]]
      </div>
    </div>
</div></pb:template>
        </model>
                    <model predicate="@type='team'" behaviour="pass-through">
            <param name="header" value="* except (listOrg|listPerson)"/>
            <param name="content" value="(listOrg|listPerson)/*"/>
            <param name="label" value="@n"/>
            <pb:template xmlns="" xml:space="preserve"><div class="center-l">
  <span class="label">[[label]]</span>
  <header class="row"><!-- horizontal alignment by default change by adding class="header-left" -->
  [[header]]
  </header>
  <div class="team-members">[[content]]</div>
</div></pb:template>
        </model>
                    <model predicate="@type='about'" behaviour="pass-through">
            <param name="label" value="@n"/>
            <param name="header" value="(head, p[1])"/>
            <param name="content" value="p[position() &gt; 1]"/>
            <pb:template xmlns="" xml:space="preserve"><div class="center-l">
    <span class="label">[[label]]</span>
    <header class="row">
      [[header]]
    </header>
    <div class="long-desc">
    [[content]]
    </div>
</div></pb:template>
        </model>
                    <model predicate="@type='hero'" behaviour="pass-through">
            <param name="heading" value="head/node()"/>
            <param name="content" value="p/node()"/>
            <param name="link" value="$parameters?browse-url"/>
            <pb:template xmlns="" xml:space="preserve"><div class="center-l row">
  <h1>[[heading]]</h1>
  <p>[[content]]<br/>
  <a class="explore-link" href="[[link]]"><pb-i18n key="menu.explore"/></a></p>
</div></pb:template>
        </model>
                    <model predicate="parent::body or parent::front or parent::back" behaviour="section"/>
                    <model behaviour="block"/>
                </elementSpec>
            <elementSpec ident="org" mode="add">
                    <model behaviour="pass-through">
            <desc>An organisation inside the teams section</desc>
            <param name="logo" value="ptr[@type='logo']/@target"/>
            <param name="label" value="@n"/>
            <param name="name" value="orgName"/>
            <param name="role" value="roleName"/>
            <param name="content" value="note/node()"/>
            <param name="email" value="ptr[@type='email']/@target"/>
            <pb:template xmlns="" xml:space="preserve"><div class="member-card">
  <div class="member-card--top">
    <div class="label">[[label]]</div>
    <img src="[[logo]]" alt="[[name]]" class="member-logo"/>
  </div>
  <div class="member-card--middle">
      <header>
          <h3 class="member-name">[[name]]</h3>
          <p class="title">[[role]]</p>
      </header>
      <div class="contact-links">
          <a class="email" href="[[email]]"/>
      </div>
  </div>
  <div class="member-card--description">
    [[content]]
  </div>
</div></pb:template>
        </model>
                </elementSpec>
                <elementSpec ident="person" mode="change">
                    <model behaviour="pass-through">
            <param name="label" value="@n"/>
            <param name="name" value="persName"/>
            <param name="role" value="occupation"/>
            <param name="email" value="ptr[@type='email']/@target"/>
            <param name="content" value="note/node()"/>
            <param name="avatar" value="ptr[@type='avatar']/@target"/>
            <pb:template xmlns="" xml:space="preserve"><div class="member-card">
  <div class="member-card--top">
    <div class="label">[[label]]</div>
    <img src="[[avatar]]" alt="[[name]]" class="avatar"/>
  </div>
  <div class="member-card--middle">
      <header>
          <h3 class="member-name">[[name]]</h3>
          <p class="title">[[role]]</p>
      </header>
      <div class="contact-links">
          <a class="email" href="[[email]]"/>
      </div>
  </div>
  <div class="member-card--description">
    [[content]]
  </div>
</div></pb:template>
        </model>
                </elementSpec>
                <elementSpec ident="item" mode="change">
                    <model predicate="ancestor::div[@type='highlights']" behaviour="pass-through">
            <desc>Output a highlight card</desc>
            <param name="pos" value="count(preceding-sibling::item) + 1"/>
            <param name="label" value="@n"/>
            <param name="content" value="note/node()"/>
            <param name="image" value="ptr[@type='image']/@target"/>
            <param name="url" value="if (ref/@target != '#') then head(ref/@target) else $parameters?browse-url"/>
            <param name="title" value="desc"/>
            <param name="action-button" value="ref"/>
            <pb:template xmlns="" xml:space="preserve"><article class="highlight-card area-[[pos]]" style="background-image: var(--lg), url('[[image]]');">
    <span class="label label-dark">[[label]]</span>
    <div class="desc">
        <h3><a href="[[url]]">[[title]]</a></h3>
        <p>
            [[content]]<br/>
            [[action-button]]
        </p> 
    </div>
</article></pb:template>
        </model>
                    <model behaviour="listItem"/>
                </elementSpec>
                <elementSpec ident="ref" mode="change">
                    <model predicate="ancestor::div[@type='highlights'] and parent::item" behaviour="pass-through">
                        <desc>Output a ref button</desc>
                        <param name="url" value="if (@target != '#') then @target else $parameters?browse-url"/>
                        <param name="explore-label" value="if (normalize-space(.)) then normalize-space(.) else 'menu.explore'"/>
                            <pb:template xmlns="" xml:space="preserve">
                            <a class="explore-link" href="[[url]]">
                            <pb-i18n key="[[explore-label]]">[[explore-label]]</pb-i18n>
                            </a>
                            </pb:template>
                    </model>
               
                    <model predicate="@target='#'" behaviour="link">
            <param name="uri" value="$parameters?browse-url"/>
        </model>
                    <model predicate="@target" behaviour="link">
            <param name="uri" value="@target"/>
        </model>
                    <model behaviour="inline"/>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>