profiles/jats/resources/odd/jats-annotations.odd

<?xml-model href="teipublisher_odds.xsd"?><?teipublisher output="web"?>
<TEI xmlns:pb="http://teipublisher.com/1.0" xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>JATS Annotations
                 <desc>ODD used by the web-based annotation editor. Contains special rules to mark entities with the correct CSS classes</desc>
                </title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>
                        Copyright 2017
                        <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>
                    Generated by
                    <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl/>
        </encodingDesc>
        <revisionDesc>
            <change when="2021-05-28+02:00">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="jats-annotations" source="jats.odd" ns="">
                <elementSpec ident="named-content" mode="add">
                    <model predicate="@content-type = 'person'" behaviour="inline" cssClass="annotation annotation-person authority"/>
                    <model predicate="@content-type = 'place'" behaviour="inline" cssClass="annotation annotation-place authority"/>
                    <model predicate="@content-type = 'term'" behaviour="inline" cssClass="annotation annotation-term authority"/>
                    <model predicate="@content-type = 'organization'" behaviour="inline" cssClass="annotation annotation-organization authority"/>
                    <model predicate="@content-type = 'work'" behaviour="inline" cssClass="annotation annotation-work authority"/>
                    <model behaviour="inline"/>
                </elementSpec>
                <elementSpec ident="fn" mode="change">
                    <model predicate="label" behaviour="note">
                        <param name="n" value="label/string()" />
                        <param name="content" value="node() except label" />
                    </model>
                    <model behaviour="note" />
                </elementSpec>
                <elementSpec ident="xref" mode="change">
                    <model predicate="@ref-type='bibr'" behaviour="link">
                        <param name="uri" value="'#' || @rid"/>
                    </model>
                    <model predicate="@ref-type='fn'" behaviour="note">
                        <param name="content" value="let $rid := @rid return root($parameters?root)//fn[@id=$rid]/(node() except label)"/>
                        <param name="n" value="let $rid := @rid return root($parameters?root)//fn[@id=$rid]/label"/>
                    </model>
                </elementSpec>
                <elementSpec ident="ext-link" mode="change">
                    <model behaviour="inline" cssClass="annotation annotation-ref" useSourceRendition="true"/>
                </elementSpec>
                <elementSpec ident="bold" mode="change">
                    <model behaviour="inline" cssClass="annotation annotation-hi" useSourceRendition="true"/>
                </elementSpec>
                <elementSpec ident="italic" mode="change">
                    <model behaviour="inline" cssClass="annotation annotation-hi" useSourceRendition="true"/>
                </elementSpec>
                <elementSpec ident="underline" mode="add">
                    <model behaviour="inline" cssClass="annotation annotation-hi" useSourceRendition="true"/>
                </elementSpec>
                <elementSpec ident="strike" mode="add">
                    <model behaviour="inline" cssClass="annotation annotation-hi" useSourceRendition="true"/>
                </elementSpec>
                <elementSpec ident="styled-content" mode="add">
                    <model behaviour="inline" cssClass="annotation annotation-hi" useSourceRendition="true"/>
                </elementSpec>
                <elementSpec ident="abbrev" mode="change">
                    <model behaviour="pass-through">
                        <pb:template xmlns="" xml:space="preserve"><span class="annotation annotation-abbreviation" data-type="abbreviation" data-annotation="{{&#34;expan&#34;: &#34;[[expan]]&#34;}}">[[content]]</span></pb:template>
                    </model>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>