profiles/edep/resources/odd/edep.odd

<?xml-model href="teipublisher_odds.xsd"?><?teipublisher output="web print"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>EDEp</title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017
                        <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by
                    <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl>
                <rendition source="edep.css"/>
            </tagsDecl>
        </encodingDesc>
        <revisionDesc>
            <change when="2022-08-14Z">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="edep" source="teipublisher.odd">
                <elementSpec ident="titleStmt" mode="change">
                    <model output="latex" behaviour="meta">
            <param name="content" value="."/>
        </model>
                    <model output="fo" behaviour="heading"/>
                    <model predicate="$parameters?mode='title'" behaviour="heading">
            <param name="content" value="title[not(@type)]"/>
            <param name="level" value="5"/>
        </model>
                    <modelSequence output="web" predicate="$parameters?header='short'">
            <model predicate="title/node()" behaviour="link">
                <param name="content" value="title[1]"/>
                <param name="uri" value="$parameters?doc || '?odd=edep-output'"/>
            </model>
            <model behaviour="block">
                <param name="content" value="subsequence(title, 2)"/>
            </model>
            <model behaviour="block">
                <param name="content" value="author"/>
            </model>
        </modelSequence>
                    <model output="web" behaviour="block"/>
                </elementSpec>
            <elementSpec ident="TEI" mode="change">
                    <model predicate="@type='about'" behaviour="inline">
            <param name="content" value="text/body/div[starts-with($parameters?language, @xml:lang)]"/>
        </model>
                    <model behaviour="document"/>
                </elementSpec>
                <elementSpec ident="ex" mode="change">
                    <model behaviour="inline">
            <param name="content" value="if (./@cert='low')  then ('(',., '?)') else ('(',., ')')"/>
        </model>
                </elementSpec>
                <elementSpec ident="persName" mode="add">
                    <model behaviour="alternate">
            <param name="default" value="."/>
            <param name="alternate" value="collection('/db/apps/edep-data/people')/id(@key)"/>
        </model>
                </elementSpec>
            <elementSpec ident="expan" mode="change">
                    <model behaviour="inline"/>
                </elementSpec>
                <elementSpec ident="ab" mode="change">
                    <model behaviour="block"/>
                </elementSpec>
                <elementSpec ident="note" mode="change">
                    <model predicate="&#34;sic&#34;" behaviour="inline">
            <param name="inside" value="."/>
            <param name="content" value="&#34;(!)&#34;"/>
            <outputRendition xml:space="preserve">
            color:red;
            </outputRendition>
        </model>
                    <model behaviour="note">
            <param name="place" value="@place"/>
            <param name="label" value="@n"/>
            <outputRendition xml:space="preserve">
            
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="supplied" mode="change">
                    <model predicate="@reason=('lost', 'damage', 'illegible') or not(@reason)" behaviour="inline">
                        <desc>all lost rendered in [] brackets, except when brackets are merged with prev/next sibling of gap or supplied</desc>
                        <param name="content" value="
                        let $prev := head(reverse(preceding-sibling::node() except preceding-sibling::text()[normalize-space(.)='']))
                        let $next := head(following-sibling::node() except following-sibling::text()[normalize-space(.)=''])

                        let $prefix := if ($prev[local-name() = ('supplied', 'gap')]) then () else '['
                        let $suffix := if ($next[local-name() = ('supplied', 'gap')]) then () else ']'
                        let $cert := head((@cert, @precision))
                        let $modifier := if ($cert = ('low', '?', 'uncertain')) then '?' else ()

                        let $content := .
                        
                        return ($prefix, $content, $modifier, $suffix)"/>
                    </model>
                    <model predicate="@reason='undefined' and @evidence='previouseditor'" behaviour="inline">
            <outputRendition xml:space="preserve">
            text-decoration: underline;
            </outputRendition>
        </model>
                    <model predicate="@reason='omitted'" behaviour="inline">
                        <param name="content" value="if (./@cert='low')  then ('&lt;',. , '?&gt;') else ('&lt;',. , '&gt;')"/>
                    </model>
                    <model behaviour="inline">
            <outputRendition xml:space="preserve" scope="before">
            content:"{";
            </outputRendition>
            <outputRendition xml:space="preserve" scope="after">
            content:"}";
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="lb" mode="change">
                    <model predicate="preceding-sibling::*[1][self::lg]" behaviour="omit"/>
                    <modelSequence predicate="@break=&#34;no&#34;">
            <model behaviour="inline">
                <param name="content" value="'-'"/>
            </model>
            <model behaviour="break">
                <param name="type" value="'line'"/>
                <param name="label" value="@n"/>
            </model>
        </modelSequence>
                    <model behaviour="break" useSourceRendition="true">
            <param name="type" value="'line'"/>
            <param name="label" value="@n"/>
        </model>
                </elementSpec>
                <elementSpec ident="del" mode="change">
                    <model behaviour="inline">
            <param name="content" value="('[[', ., ']]')"/>
        </model>
                </elementSpec>
                <elementSpec ident="gap" mode="change">
                    <model predicate="@unit='line' and @quantity" behaviour="inline">
                        <desc>if quantity is a number, imitate the same number of empty line placemarkers; if unknown, just ------</desc>
                        <param name="content" value="let $extent := try {     xs:integer(@quantity) } catch * {     () }    return if ($extent) then for $i at $pos in 1 to $extent return if ($pos=1) then '[- - - - - -]' else (&lt;lb/&gt;, '[- - - - - -]') else ('- - - - - -')"/>
                    </model>
                    <model predicate="@unit='line' and @extent" behaviour="inline">
                        <desc>where extent is used, behave as if unknown number of lines is missing</desc>
                        <param name="content" value="'- - - - - -'"/>
                    </model>
                    <model predicate="@unit='line'" behaviour="inline">
                        <desc>where no quantity or extent is given, behave as if a single line is missing</desc>
                        <param name="content" value="'[- - - - - -]'"/>
                    </model>
                    <model behaviour="inline">
                        <desc>in all other assume it's a gap for a given number of characters</desc>
                        <param name="content" value="
                        let $prev := head(reverse(preceding-sibling::node() except preceding-sibling::text()[normalize-space(.)='']))
                        let $next := head(following-sibling::node() except following-sibling::text()[normalize-space(.)=''])

                        let $prefix := if ($prev[local-name() = ('supplied', 'gap')]) then () else '['
                        let $suffix := if ($next[local-name() = ('supplied', 'gap')]) then () else ']'
                        
                        let $ext := head((@extent, @quantity)) let $extent := try {     xs:integer($ext) } catch * {     () }   return if ($extent) then $prefix || '-' || $extent || '-' || $suffix else $prefix || '- - -' || $suffix"/>
                    </model>
                </elementSpec>
                <elementSpec ident="surplus" mode="add">
                    <model behaviour="inline">
            <param name="content" value="('{', ., '}')"/>
        </model>
                </elementSpec>
            <elementSpec ident="abbr" mode="change">
                    <model predicate="parent::expan" behaviour="inline"/>
                    <model behaviour="inline">
            <param name="content" value="(., '(---)')"/>
        </model>
                </elementSpec>
                <elementSpec ident="text()" mode="add">
                    <model predicate="following-sibling::*[1][@break=&#34;no&#34;]" behaviour="text">
            <param name="content" value="replace(., '[\s\n]+$', '')"/>
        </model>
                    <model behaviour="text"/>
                </elementSpec>
            <elementSpec ident="unclear" mode="change">
                    <model behaviour="inline">
            <param name="content" value="codepoints-to-string(string-to-codepoints(.) ! (., 803))"/>
        </model>
                </elementSpec>
            <elementSpec ident="add" mode="change">
                    <model predicate="@place=&#34;overstrike&#34;" behaviour="inline">
            <param name="content" value="('«', ., '»')"/>
        </model>
                </elementSpec>
            <elementSpec ident="choice" mode="change">
                    <model predicate="sic and corr" behaviour="inline">
            <param name="corr" value="corr[1]"/>
            <param name="sic" value="sic[1]"/>
            <pb:template xmlns="" xml:space="preserve"><span>&lt;[[corr]]=<span class="norm">[[sic]]</span>&gt;</span></pb:template>
        </model>
                    <model predicate="abbr and expan" behaviour="alternate">
            <param name="default" value="expan[1]"/>
            <param name="alternate" value="abbr[1]"/>
        </model>
                    <model predicate="orig and reg" behaviour="alternate">
            <param name="default" value="reg[1]"/>
            <param name="alternate" value="orig[1]"/>
        </model>
                </elementSpec>
            <elementSpec ident="l" mode="change">
                    <model behaviour="inline" useSourceRendition="true">
            <outputRendition xml:space="preserve" scope="after">
            content: '|';
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="lg" mode="change">
                    <model behaviour="block" cssClass="lg">
            <outputRendition xml:space="preserve">
            margin: 0;
            </outputRendition>
        </model>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>